.page-footer{
    background-color: #ececec;
}
.footer-copyright{
    background-color: #616161;
    color: rgb(243, 243, 243) !important;
    font-weight: 400;
}
.footer-content{
    color: rgb(156, 156, 156);
}