.main-header {
  margin-top: 40px;
  background: url('/../assets/images/handwrite.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 70vh;
  display: flex;
  -webkit-box-shadow: inset 0px -7px 21px 2px rgba(6, 19, 23, 0.66);
  -moz-box-shadow: inset 0px -7px 21px 2px rgba(6, 19, 23, 0.66);
  box-shadow: inset 0px -7px 21px 2px rgba(6, 19, 23, 0.66);
}

.header {
  background-color: transparent;
  /* border: 1px solid #b8aba9; */
  width: 35%;
  text-transform: uppercase;
  color: rgb(83, 74, 73);
  letter-spacing: 2px;
  line-height: 60px;
  font-size: 2.2rem;
  font-weight: 800;

  margin-top: -20px;
  margin-left: 35%;
  padding-top: 20px;
  transform: rotate(-4.5deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-4.5deg);

  /* Firefox */
  -moz-transform: rotate(-4.5deg);

  /* IE */
  -ms-transform: rotate(-4.5deg);

  /* Opera */
  -o-transform: rotate(-4.5deg);
}

@media only screen and (min-width: 1300px) {
  .header {
    margin-left: 35%;
    background-color: rgba(255, 255, 253, 0.3);
    /* border: 1px solid #b8aba9; */
  }
}

@media only screen and (max-width: 745px) {

  .header {
    background-color: #fff;
    border: 1px solid #b8aba9;
    width: 85%;
    text-transform: uppercase;
    color: rgb(83, 74, 73);
    letter-spacing: 2px;
    line-height: 60px;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0 auto;
    margin-top: -20px;
    padding-top: 20px;
  }

}

h3:after {
  content: '';
  background: rgb(83, 74, 73);
  display: block;
  height: 1px;
  width: 50%;
  margin: 12px auto 30px;
}

.menu-stuff {
  color: rgb(194, 194, 194);
}

li:hover a{
  color: rgb(231, 192, 48)!important;
  cursor: pointer;
}

span{
  color: rgb(231, 192, 48);
  cursor: pointer;
}

.menu-stuff h3:after {
  content: '';
  display: block;
  height: 1px;
  width: 10%;
  margin: 12px auto 30px;
}

.jumbotron .header .lead {
  letter-spacing: 1px;
  line-height: 15px;
  font-size: 0.9rem;
  font-weight: 400;
}

.module-info {
  font-size: 0.95rem !important;
  line-height: 18px;
  text-transform: none;
}

.module-info-2 {
  font-size: 0.9rem !important;
  line-height: 18px;
  font-weight: 550;
  text-transform: none;
}

@media only screen and (max-width: 745px) {
  h3 {
    font-size: 1.1rem;
    padding-top: 15px;
    color: #333;
  }

  .lead {
    font-size: 0.7rem !important;
    line-height: 15px;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1.1em;
  }

  .moreHeader {
    font-size: 1.2em;
    margin: none;
  }

  .moreHeader h2 {
    font-size: 1.2em;
  }

}

.nav1 {
  margin-top: -40px;
}

.nav1 {
  font-size: 1.2em;
  top: 0;

}

.nav2 {
  width: 85%;
  margin: 0 auto;
}

/*-Restaurant Menu------*/
h4:after {
  content: '';
  background: rgb(83, 74, 73);
  display: block;
  height: 1px;
  width: 15%;
  margin: 12px 0px;
}

.menu {
  border-radius: 0;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;

}

.nav-main .nav-item {
  padding-left: 50px;
  margin: 0 auto;
}

.menu-stuff {
  background-color: rgb(26, 26, 26) !important;
  /* border-radius: 10px; */

}

.menu-stuff a {
  color: #fff !important;
  font-weight: 600;

}

.menu-stuff2 {
  background-color: rgba(255, 255, 255, 1) !important;
  border: solid 1px rgba(153, 153, 153, 0.8);
  border-radius: none;
  margin-top: -10px;

}

.menu-stuff a {
  color: #fff !important;
  font-weight: 600;

}

.review-stuff{
  background-color: rgba(255, 255, 255, 1) !important;
  width: 80%;
  margin: 0 auto;
}

/*---------------------------------*/
.bg {
  /* The image used */
  background: url("/../assets/images/28.jpg") no-repeat fixed;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.material-icons{
	color: rgb(231, 192, 48);
}
.material-icons:hover{
  cursor: pointer;
  color: #333;
  -webkit-transition: 0.2s; /* Safari prior 6.1 */
  transition: 0.2s;
}

.btn-dark{
  background-color: #121212;
}

.review-content{
  padding-left: 0;
  margin-left: -2px;
  font-size: 19px;
  color: #222;
}

/*-------Start Rating ----------*/
.star-rating {
  direction: rtl;
  display: inline-block;
  padding: 20px 0px;
}

.star-rating input[type=radio] {
  display: none
}

.star-rating label {
  color: #bbb;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
  color: #f2b600
}

.my-class{
  color: #f2b600
}

.average-rating{
  font-size: 15px;
}

.delete{
  color: #a71717
}